{% extends "layout.html" %} 
{% block beforeContent %} 
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back to your cohorts", href: "./" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">

        {% if view == 'provider' %} Cohorts with training providers {% elif view == 'draft' %} Drafts {% endif %}

    </h1>
    <h1 class="govuk-heading-xl"> Draft cohorts</h1>
    <p>You have 1 cohort waiting to be sent to a training provider:</p>


<table class="govuk-table">        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Training provider</th>
            <th class="govuk-table__header" scope="col">Reference</th>
            <th class="govuk-table__header" scope="col">Last message</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
           
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ item.training_provider.name }} QA Ltd    </td>
                <td class="govuk-table__cell">{{ item.reference }}VXDRB8</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">
                    <a href="draft-cohort">Details</a>
                </td>
              </tr>  
                
        </tbody>
      </table>
  </main>
</div>


{% endblock %}