{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to apprentices",
  href: "./"
}) }}
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Add an apprentice
        </h1>

        <p class="govuk-body">
            Add details of one or more apprentices to your account, and authorise payments to their training provider.
        </p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
            You must:

            <ul class="govuk-list govuk-list--bullet">
                <li>know the names of your apprentices</li>
                <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
                <li>make sure the organisation that's named on the contract you have with your training provider is in your account - <a href="#">view organisations in this account</a></li>
                <li>make sure the PAYE scheme that each apprentice is paid through is in your account - <a href="#">view PAYE schemes in this account</a></li>
            </ul>

            <div style="margin-top:35px"></div>
            <form action="add/choose-organisation">
             <button class="govuk-button govuk-button--start">Start now</button>
            </form> 
        </p>        
    </div>
</div>
</main>
</div>

{% endblock %}
