{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/financeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "./"
}) }}
{% endblock %}
{% block content %}





<div class="govuk-width-container">
    <!--div style="width:66%; " id="deletedUserAlertMessage" class="success-summary ">
        <h1 class="govuk-heading-m" style="margin-bottom:10px">Yes, you can fund these apprenticeships</h1>
    </div-->
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" style="" id="company-Name">Estimated costs</h1>
                <p class="  govuk-body-l">This page shows:</p>
                <ul class="govuk-list govuk-list--bullet">
                      <li>apprenticeships you've added</li>
                      <li>your account funds</li>
                </ul>
                <form action="addApprentices">
                    <button type="submit" class="govuk-button" style="">Add more apprenticeships to your current estimate</button>
                </form>
            </div>


         <!--div class="govuk-grid-column-one-third" style="">
              <aside class="topBlueThing" style="  border-top-color: #005ea5; border-top-style: solid; border-top-width: 10px; " >
                 <h2 class="govuk-heading-s" id="company-Name" style="margin-top:20px">Download data as a spreadsheet</h2>
                 <a href="#" style="font-size:19px">Apprenticeship details in the account projection</a>
                 <p style="margin-top:5px">The download includes the details of apprenticeships used to create this projection</p>

                  <a href="#" style="font-size:19px">Account projection table</a>
                 <p style="margin-top:5px">The download includes the details of the data in the table shown on this page</p>
              </aside>
            </div>
        </div-->
 
       <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="">
        <div class="js-tabs nav-tabs">
            <ul class="tabs-nav" id="tabs-nav" role="tablist">
                <li class="active">
                    <a href="#PAYE" role="tab" id="tab-PAYE">Apprenticeships added</a>
                </li>
                <li class="">
                    <a href="#transactions" role="tab" id="tab-transactions">Account funds</a>
                </li>
            </ul>
        </div>


        <div class="js-tab-content tab-content">
            <div class="js-tab-pane tab-pane" id="PAYE">

                <table class="govuk-table"">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header makeItSmaller" style="width:150px" scope="">Apprenticeship <br /><span style="color:#6f777b">Level</span></th>
                            <th class="govuk-table__header makeItSmaller" style="vertical-align: top; max-width:80px" scope="" class="">Number of apprentices</th>
                             <th class="govuk-table__header makeItSmaller" style="vertical-align: top;" scope="" class="">Start date</th>
                              <th class="govuk-table__header makeItSmaller" style="vertical-align: top;"  scope="" class="">Total Cost</th>
                               <th class="govuk-table__header makeItSmaller" style="vertical-align: top; max-width:125px" scope="" class="">Number of monthly payments</th>
                                <th class="govuk-table__header makeItSmaller" style="vertical-align: top;" scope="" class="">Monthly payment</th>
                                 <th class="govuk-table__header makeItSmaller" style="vertical-align: top;" scope="" class="">Completion payment</th>
                                  <th class="govuk-table__header makeItSmaller" style="vertical-align: top;" scope="" class="">Transfer estimate</th>
                                  <th class="govuk-table__header makeItSmaller" style="vertical-align: top;" scope="" class=""></th>
                                  <th class="govuk-table__header makeItSmaller" style="vertical-align: top;" scope="" class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="govuk-table__row">
                            <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Able seafarer (deck)<br /><span style="color:#6f777b">2</span></td>
                            <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">1</td>
                             <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">September 2018</td>
                              <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">£9,000</td>
                               <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">18</td>
                                <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">£400</td>
                                <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">£1,800</td>
                                <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">No</td>
                                 <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;"><a href="editSeafarer" >Edit</a></td>
                                <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;"><a href="removeApprentice" >Remove</a></td>
                        </tr>
                         <tr class="govuk-table__row">
                            <td class="govuk-table__cell makeItSmaller"></td>
                            <td class="govuk-table__cell makeItSmaller" style="font-weight:700">1</td>
                             <td class="govuk-table__cell makeItSmaller"></td>
                              <td class="govuk-table__cell makeItSmaller" style="font-weight:700">£9,000</td>
                               <td class="govuk-table__cell makeItSmaller"></td>
                                <td class="govuk-table__cell makeItSmaller" style="font-weight:700">£400</td>
                                 <td class="govuk-table__cell makeItSmaller" style="font-weight:700">£1,800</td>
                                  <td class="govuk-table__cell makeItSmaller"></td>
                                   <td class="govuk-table__cell makeItSmaller"></td>
                                    <td class="govuk-table__cell makeItSmaller"></td>
                        </tr>
 
                    </tbody>
                </table>

              
            </div>
            <div class="js-tab-pane tab-pane" id="transactions">
                    <h1 class="govuk-heading-m" style="margin-top:30px" id="company-Name">This table shows your estimated costs against your account projection</h1>
                      <h2 class="govuk-heading-s" style="margin-top:15px" id="company-Name">Monthly Funds in: <span style="font-weight:400">£3,900</span></h2>

                <h3 class="govuk-heading-m" style="margin-top:50px" id="company-Name">September 2018 to March 2019</h3>
                <!--h2 class="heading-medium">Account history</h2-->
                   <table class="govuk-table"">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                              <th class="govuk-table__header makeItSmaller" style="" scope="">Date </th>
                            <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Your current costs </th>
                             <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Cost of estimated apprenticeships  </th>
                              <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Balance  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Sep 18</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                  
                        </tr>
                        <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Oct 18</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Nov 18</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Dec 18</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Jan 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Feb 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Mar 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="govuk-heading-m" style="margin-top:50px" id="company-Name">April 2019 to March 2020</h3>
                <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        The estimate for the account balance projection does not yet show funds that are due to expire. You need to be aware that unused funds will expire after 24 months, which may affect the funds available to spend.
                      </strong>
                    </div>
                <!--h2 class="heading-medium">Account history</h2-->
                   <table class="govuk-table"">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                              <th class="govuk-table__header makeItSmaller" style="" scope="">Date </th>
                            <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Your current costs </th>
                             <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Cost of estimated apprenticeships  </th>
                              <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Balance  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Apr 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                  
                        </tr>
                        <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">May 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Jun 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Jul 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Aug 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Sep 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                                                <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Oct 19</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,498</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£2</td>
                        </tr>
                    </tbody>
                </table>


            <h3 class="govuk-heading-m" style="margin-top:50px" id="company-Name">April 2020 to March 2021</h3>
                <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        The estimate for the account balance projection does not yet show funds that are due to expire. You need to be aware that unused funds will expire after 24 months, which may affect the funds available to spend.
                      </strong>
                    </div>
                <!--h2 class="heading-medium">Account history</h2-->
                   <table class="govuk-table"">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                              <th class="govuk-table__header makeItSmaller" style="" scope="">Date </th>
                            <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Your current costs </th>
                             <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Cost of estimated apprenticeships  </th>
                              <th class="govuk-table__header makeItSmaller numeral" style="" scope="">Balance  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">Apr 20</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£0</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£400</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,500</td>
                  
                        </tr>
                        <tr>
                           <td class="govuk-table__cell makeItSmaller" style="vertical-align: top;">May 20</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£0</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£0</td>
                            <td class="govuk-table__cell makeItSmaller numeral" style="vertical-align: top;">£3,900</td>
                        </tr>
                     </tbody>
                </table>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</main>
</div>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk

$(document).ready(function() {

  // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

  $("ul#tabs-nav li").click(function(e){
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum+1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child("+nthChild+")").addClass("active");
        }
    });
});

  $('ul.tabs-nav').each(function(){
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');

    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
   // $active.addClass('active');
   console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function () {
      $(this.hash).hide();
    });

    // Bind the click event handler
    $(this).on('click', 'a', function(e){
      // Make the old tab inactive.
    //  $active.removeClass('active');
      $content.hide();

      // Update the variables with the new link and content
    //  $active = $(this);
      $content = $(this.hash);

      // Make the tab active.
     // $active.addClass('active');
      $content.show();

      // Prevent the anchor's default click action
      e.preventDefault();
    });
  });

</script>






{% endblock %}