{% extends "layout.html" %} {% block beforeContent %}  {% include "includes/version1/mainNav.html" %}    {% include "includes/version1/financeNav.html" %}{% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "../" }) }} {% endblock %} {% block content %}



<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-panel govuk-panel--blue text-left">
                    <h2 class="govuk-heading-l" style="color:#fff">Connect with a receiving employer</h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds" style="font-size:24px">
                            <div class="govuk-panel__body">
                                <p style="font-size:24px">
                                    To connect with a receiving employer you want to transfer funds to, you'll need to:
                                </p>
                                <ol class="govuk-list govuk-list--number" style="font-size:24px">
                                    <li>agree the apprentices, training and costs that the transfer funds will cover</li>
                                    <li>ensure the receiving employer has registered on the apprenticeship service</li>
                                    <li>request the receiving employer's apprenticeship account ID. This can be found under the account name on the apprenticeship service homepage.</li>
                                </ol>
                                <p style="font-size:24px">
                                    You won't be able to complete the next step until you have the receiving employer's account ID.
                                </p>
                                <div class="actions">
                                    <a href="./requests/start" role="button" class="govuk-button ">
                Continue
            </a>
                                    <a class="govuk-button clear-button white-button" href="../../transfers" style="color:#fff !important">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
    </div>
    </div>
    </main>
</div>
{% endblock %}