{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}
   {% include "includes/version1/financeNav.html" %}

{% endblock %} 

{% block content %}


<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../accounts">Your Accounts</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../{{ employer.id }}">{{ employer.name }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Finance</li>
    </ol>
</div> -->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <!--         <div class="govuk-grid-row">
 -->
        <h1 class="govuk-heading-xl rj-headings-border">Finance</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-grid-column-one-half" style="padding-left:0; padding-right:30px">
                    <div class="govuk-panel govuk-panel--confirmation" style="background:#2e358b; padding:0; min-height:170px">
                        <h2 class="govuk-panel__title" style="text-align:left; margin:15px 0 20px 10px; font-size:36px">£10,000</h2>
                        <div class="">
                            <p style="text-align:left; color:#fff;margin:65px 0 0 15px; font-weight:700; font-size:24px; ">Levy Funds</p>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-panel govuk-panel--confirmation" style="background:#fff; padding:0; min-height:170px; border:4px solid darkgrey">
                        <h2 class="govuk-panel__title" style="text-align:left; margin:15px 0 20px 10px; font-size:36px; color:#000">£8,100</h2>
                        <div class="">
                            <p style="text-align:left; color:#fff;margin:65px 0 0 15px; font-weight:700; font-size:24px; color:#000; ">  Reserved Funds</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div style="">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half ">
                            <h3 class="govuk-heading-m " style="margin-top:0;padding-top:35px  "><a href="finance/transactions">View transactions</a></h3>
                            <p class="rj-home-spacer"> View payments made into and out of your apprenticeship service account.</p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m " style="margin-top:0; padding-top:35px"><a href="finance/projection">Funding projection</a></h3>
                            
                            <p>View funding projection to plan your future spending.</p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m rj-top-border" style="margin-top:0;padding-top:35px  "><a href="finance/reserve">Reserve additional funding</a></h3>
                            <p>Claim additional funds to pay for your apprenticeships.</p>
                        </div>
                        <div class="govuk-grid-column-one-half ">
                            <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href="finance/changeReserve"">View and change reserved funds</a></h3>
                            <p class="rj-home-spacer">View funds you have reserved and make changes.</p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m rj-top-border" style="margin-top:0;padding-top:35px  "><a href="finance/download-transactions">Download transations</a></h3>
                            <p>Download your financial transactions within a specific date range.</p>
                        </div>
                        <div class="govuk-grid-column-one-half ">
                            <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href="finance/transfers"">Transfers</a></h3>
                            <p class="rj-home-spacer">Connect with other employers and send or receive transfer funds.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}