 {% extends "layout.html" %} {% block beforeContent %} {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "appresults" }) }} {% endblock %} {% block content %}
<!--script>
function whereNow() {
        localStorage.setItem("nonLevy.whichApprenticeship", JSON.stringify("finServ"));
        window.location.href='proSearch';
    }

</script>

<script>

 $(".shortlist.app").click(function (e) {
        e.preventDefault();
        console.log("shortlist button clicked: " + appCount);
        if ($("i", this).hasClass("fa-star-o")) {
            console.log("isnt shortlisted");
            appCount = appCount + 1;
            console.log(appCount);
            Cookies.set("appCount", appCount);
            $("i", this).removeClass("fa-star-o").addClass("fa-star");
            $("span", this).text("Remove from saved list");
           $("#bannerCount span").text(Number(proCount) + Number(appCount));

        } else {
            console.log("is shortlisted");
            $("i", this).removeClass("fa-star").addClass("fa-star-o");
            $("span", this).text("Save this apprenticeship");
            appCount--;
            Cookies.set("appCount", appCount);
            console.log(appCount);
           $("#bannerCount span").text(Number(proCount) + Number(appCount));
        }
    })
</script>

<script>
 var fundingStatus =JSON.parse(localStorage.getItem('nonLevy.fundingSet'));
console.log(fundingStatus)
$(document).ready(function() {
  var changeStuff = function() {
  if (fundingStatus=='yes') {
    $(coInvestPayer).addClass("rj-dont-display")
   // document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
   // document.getElementById("providerName").textContent = "Provider:" ;
   // $(commitmentStatus).addClass("rj-dont-display");
   //  $(addDate).addClass("rj-dont-display")
    }
else {};

if (fundingStatus=='nope' || fundingStatus=='wakanai' ) {
       //  $(addDate).addClass("rj-dont-display")
    }
else { };

//if (fundingStatus=='transferFunding') {
  // $(eligibilityTransfer).removeClass("rj-dont-display")
    //}
//else { };
  }
changeStuff();
});
</script-->

<style>
.data-list dd, .data-list dt  {margin-bottom:0;}

</style>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="">
                    <h1 class="govuk-heading-xl" style="">Financial services administrator</h1>
                    <!--<h3 class="heading-small">Role</h3>-->
                    <p class="">This information is taken from an apprenticeship framework. It sets out what qualifications the apprentice can achieve.
                    </p>
                </div>
            </div>
            <form action="providersearch">
                <div class="govuk-grid-column-one-third weird-floating-button" style="text-align:center">
                    <button type="submit" class="govuk-button" style="margin-bottom:15px">Find training providers</button>
                      <a href="../finance/reserve/numberOfApps" class="findProviders govuk-button button-grey-secondary" style="width:100%">Reserve funding</a>

                    <div><a href="#" class="shortlist app shortlistButton" name="funding" value="Financial services administrator" style="font-size:19px; "><i class="fa fa-star-o" ></i><span style="padding-left:5px">Save this apprenticeship</span></a></div>
                </div>
            </form>
        </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                     <h1 class="govuk-heading-l" style="margin-top:25px">Summary of this apprenticeship framework</h1>
                    <dl class="data-list">
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                        <dt>Level</dt>
                        <dd id="level">3 (equivalent to A levels at grades A to E)</dd>
                    <div style="clear:both"></div>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                        <dt>Current funding band</dt>
                        <dd id="funding-cap">
                           <p style="margin:0px 0 0 0 ">Maximum total cost:<span style="padding-left:100px; font">£9,000 per apprentice </span></p>
                            <p id="coInvestPayer" style="margin:0">Government will pay <span style="padding-left:100px">£8,100 per apprentice</span></p>
                            <p id="coInvestPayer" style="margin:0px 0 10px 0 ; font-weight:700">Costs to you:<span style="padding-left:158px; font-weight:700">£900 per apprentice</span></p>
      
                            <a href="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers#funding-for-your-apprenticeship" target="_blank">More information about funding</a>
                        </dd>
                        <div style="clear:both"></div>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                        <dt>Typical length</dt>
                        <dd id="length">12 months</dd>
                        <div style="clear:both"></div>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



                        <dt>Entry requirements</dt>
                        <dd class="entry-requirements">
                            <div>Your chosen training provider can advise you about entry requirements for apprentices.</div>
                        </dd>
                        <div style="clear:both"></div>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                        <dt>Suitable roles for apprentices</dt>
                        <dd class="job-roles">
                            <ul class="govuk-list govuk-list--bullet" style="margin-top:0">
                                <li>Assistant Copywriter</li>
                                <li>Desktop Publishing Assistant</li>
                                <li>Junior Graphic Designer</li>
                                <li>Junior Product Designer</li>
                                <li>Technical Illustrator</li>
                            </ul>
                            <div>
                                Your chosen training provider can advise you about the kinds of skills apprentices will learn.
                            </div>
                        </dd>
                        <div style="clear:both"></div>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                        <dt>Qualifications</dt>
                        <dd>
                            <div class="qualifications">
                                <div class="competencyQualifications">
                                    <p>Apprentices will achieve a practical (or 'competence') qualification:</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>NVQ Diploma in Design</li>
                                    </ul>
                                </div>
                                <div class="knowledgeQualifications">
                                    <p>Apprentices will also achieve a theory-based (or 'knowledge') qualification:</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>90-credit Diploma in Art and Design</li>
                                        <li>BTEC Diploma in Art and Design</li>
                                        <li>BTEC Subsidiary Diploma in Art and Design</li>
                                        <li class="default-hidden" style="display: none;">Diploma in Art &amp; Design - Foundation Studies</li>
                                        <li class="default-hidden" style="display: none;">Diploma in Art and Design</li>
                                        <li class="default-hidden" style="display: none;">Extended Diploma in Art and Design</li>
                                        <a href="#" class="showmore">Show more</a>
                                    </ul>
                                </div>
                            </div>
                            <p class="qualificationsStatic">Your chosen training provider can advise you about the qualifications open to apprentices as they can change depending on individual and other circumstances.</p>
                        </dd>
                        <div style="clear:both"></div>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                        <dt>Professional registration</dt>
                        <dd>None specified.</dd>
                    </dl>

                </div>

             <form action="providersearch">
                <div class="govuk-grid-column-one-third" style="margin-top:35px">
                    <button type="submit" class="govuk-button" style="">Find training providers</button>
                </div>
            </form>
 
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <!--div class="container shortlist panel panel-width-thin">

                            <a href="proSearch" class="findProviders button"><i class="fa fa-search hidden" style="margin-right: 5px;"></i>Find training providers</a>

                            <a href="#" class="shortlist app shortlistButton"><i class="fa fa-star-o "></i><span>Shortlist this apprenticeship</span></a>

                        </div-->
                    </div>
                </div>
            </section>
    </main>
    </div>
    {% endblock %}