{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/orgsNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to your organisations",
  href: "../orgs"
}) }}
{% endblock %}
{% block content %}

<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });


    ; DROP TABLE "COMPANIES";-- LTD
*/
</script>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">; DROP TABLE "COMPANIES";-- LTD</span>

     <h1 class="govuk-heading-xl" style="">Your ESFA agreement</h1>

        <p>This agreement allows you to spend funds for <span style="font-weight:700">; DROP TABLE "COMPANIES";-- LTD</span></p>
            </div>
          </div>
          <div style="margin-top:30px"></div>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third" >
             <h2 class="govuk-heading-m" style="">Parties</h2>
        </div>
        <div class="govuk-grid-column-one-third">
        <p><span style="font-weight:700">The Secretary of State for Education acting through the Education and Skills Funding Agency an executive agency of the Department for Education </span>
        <br />Cheylesmore House
        <br />Quinton Road
        <br />Coventry
        <br />CV1 2WT
      </p>
        <p style="padding-top:20px"><span style="font-weight:700">; DROP TABLE "COMPANIES";-- LTD</span>
        <br />No 2 Lochrin Square
        <br />96 Fountainbridge
        <br />Edinburgh
        <br />EH3 9QA
      </p>
      </div>
</div>
        <div class="govuk-grid-row" style="margin-top:25px">
        <div class="govuk-grid-column-one-third" style="">
          <h2 class="govuk-heading-m" >Document</h2>
        </div>
        <div class="govuk-grid-column-two-thirds" style="">
          <div class="attachment-thumb">
                    <a aria-hidden="true" class="thumbnail" href=""><img alt="" src="https://test-eas.apprenticeships.sfa.bis.gov.uk/dist/images/pub-cover-html.png"></a>
                </div>
                <div class="attachment-details">
                    <h2 class="title" style="margin:0"><a href="viewagreement" style="font-size:27px; font-weight:400; ">Your ESFA agreement</a></h2>
                    <p class="metadata">
                        <span class="type" style="font-size:14px">HTML</span>
                    </p>
                </div>

        </div>
      </div>
    </main>

        
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">This agreement has been signed</h2>

        <table class="govuk-table">
            <tbody>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" >Signed by:</th>
                <td class="govuk-table__cell ">Satya Sanikommu</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" style="min-width:110px" >On behalf of:</th>
                <td class="govuk-table__cell ">; DROP TABLE "COMPANIES";-- LTD</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" >Address:</th>
                <td class="govuk-table__cell ">No 2 Lochrin Square, 96 Fountainbridge, Edinburgh, EH3 9QA</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" >Signed on:</th>
                <td class="govuk-table__cell ">Tuesday, August 14, 2018</td>
            </tr>
        </tbody>
      </table>

<div>




  </div>
      </div>
  </div>
{% endblock %}