{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/orgsNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to your organisations",
  href: "../orgs"
}) }}
{% endblock %}
{% block content %}

<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });


    ; DROP TABLE "COMPANIES";-- LTD
*/
</script>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="updatedagreement" method="get" class="form">
        <span class="govuk-caption-xl">; DROP TABLE "COMPANIES";-- LTD</span>
     <h1 class="govuk-heading-xl" style="">
About your agreement

        </h1>
        <p>This agreement creates a legal contract between <span style="font-weight:700">; DROP TABLE "COMPANIES";-- LTD</span> and the <span style="font-weight:700">Education and Skills Funding Agency (ESFA)</span>. It allows you to transfer funds to other employers and pay training providers for apprenticeships.</p>
        <p>You need to ensure you have the authority from your organisation before you sign this agreement.</p>


        <div class="govuk-form-group">
        <button class="govuk-button">Continue to your agreement</button>
      </form>

    </div>
  </div>
      </div>
  </div>
{% endblock %}