{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}  {% include "includes/version1/financeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "reserveStartDate"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review details
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-s">
        Apprenticeship details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; font-size:16px;">
           Legal entity
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
            {{ data['organisation'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="chooseEntity" style="font-weight:400; font-size:16px;">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; font-size:16px">
           Apprenticeship name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            {{ data['funding'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="chooseApp" style="font-weight:400; font-size:16px">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; font-size:16px">
            Number of apprentices
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            {{ data['numberApprentices'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="numberOfApps" style="font-weight:400; font-size:16px">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px">
            Apprentices start date
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
             {{ data['stard-month'] }} <span style="padding-left: 5px"></span> {{ data['stard-year'] }}
       
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="reserveStartDate" style="font-weight:400; font-size:16px">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
      </dl>

       <h2 class="govuk-heading-s" style="margin-top:35px">
        Funding details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
                     <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; font-size:16px">
            Funding reserved until
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
                  {{ data['stard-month'] }} <span style="padding-left: 5px"></span> {{ data['stard-year'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
             
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px">
            Total cost of <br />reserved apprenticeships
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            £9,000
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
             
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px">
            Cost to you of <BR />reserved apprenticeships
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            £900
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
            
            </a>
          </dd>
        </div>
      </dl>



      <dl class="app-check-your-answers app-check-your-answers--short">
                             <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            
            </a>
          </dd>
        </div>
              <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; font-size:19px">
            Funding reserved
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:19px">
            £8,100
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
            
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m" style="margin-top:55px">Now submit your request</h2>
      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <a class="govuk-button" href="complete" role="button">
        Reserve funding
      </a>

    </div>
  </div>
</main>
</div>

{% endblock %}
