{% extends "layout.html" %} 
{% block beforeContent %} 
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back", href: "EditStatus" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">


        <form method="get" action="robEdwardsLive">
            <input name="status" value="Stopped" type="hidden" />
            <h1 class="govuk-heading-xl">Stop apprentice
</h1>
<p class="  govuk-body-l">You're about to stop this apprentice and any future payments you've authorised to their training provider.</p>
<div class="govuk-inset-text">
  You won't be able to undo this change.


</div>
            <div class="govuk-form-group">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Name</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">Rob Edwards</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Unique learner number</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">9021090210</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Date change takes effect</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold"> 28 Aug 2018</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Would you like to stop this apprentice?
                        </h1>
                    </legend>


                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="DateSelection-today" name="DateSelection" type="radio" value="Today" />
                            <label class="govuk-label govuk-radios__label" for="DateSelection-Today">
                                Yes, stop this apprentice
                            </label>
                        </div>


                     <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="DateSelection-BeforeToday" name="DateSelection" type="radio" value="BeforeToday" data-aria-controls="conditional-how-contacted-conditional-before-today" checked>
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-before-today">
                               No, don't stop this apprentice
                            </label>
                        </div>

                         </div>
                    </div>

                </fieldset>
            </div>
            <button type="submit " class="govuk-button ">
                Continue
            </button>
            
        </form>
    </div>
</div>
</main>
</div>


{% endblock %}