{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/homeNav.html" %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back ",
  href: "./"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-xl" style="" id="company-Name"> {{ data['trainingProviderName'] }} Cyberdyne Training Ltd</h1>
</div>

 <div class="govuk-width-container">
      <div class="">
                      <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__header" scope="col"style="padding-top:0">Organisation</th>
                              <!--th scope="col" style="padding-top:0">Email address</th-->
                              <th class="govuk-table__header" scope="col" class="" style="padding-top:0; ">What Cyberdyne Training Inc can do on your behalf</th>

                               <th class="govuk-table__header" scope="col"" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="govuk-table__row">
                              <!--quick hack, will fix -->
                              <td class="govuk-table__cell "d >; DROP TABLE "COMPANIES";-- LTD </td>
                              <td class="govuk-table__cell ">Create cohorts <br />Reserve funding <br />Add and edit apprentice vacancy ads <br />Notify successful and unsuccessful candidates</td>
                              <!--td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td-->
                              <td class="govuk-table__cell "><a href="changePermissions">Change</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <!--quick hack, will fix -->
                              <td class="govuk-table__cell "d >Assurance Aerospace Engineering </td>
                              <td class="govuk-table__cell ">Nothing</td>
                              <!--td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td-->
                              <td class="govuk-table__cell "><a href="change-role">Change</a></td>
                            </tr>


                          </tbody>
                      </table>
                       <!--button type="submit" class="govuk-button" style="">Remove all permissions</button-->
             </div>

    </div>
</div>
    </div>
</div>

{% endblock %}


