{% extends "layout.html" %} 
{% block beforeContent %} 
 {% include "includes/version1/provider/providerNav.html" %}
  {% include "includes/version1/provider/manageNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back to your apprentices", href: "./" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Rob Edwards</h1>
        <table class="govuk-table details-list">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Status</th>
                    <td class="govuk-table__cell" scope="row">Live
                    

                    </td>
                    <td class="govuk-table__cell" scope="row">
                   

                    </td>
                </tr>
                <!--tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Stop applies from</td>
                    <td class="govuk-table__cell" scope="row" colspan="2"></td>
                </tr-->
            </tbody>
        </table>

        <table class="govuk-table details-list">
            <caption class="govuk-heading-m" style="text-align:left; margin-top:45px">Overview</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Employer</td>
                    <td class="govuk-table__cell" scope="row">; DROP TABLE "COMPANIES";-- LTD</td>
                    <td></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Cohort reference</td>
                    <td class="govuk-table__cell" scope="row">V794R6</td>
                     <td></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Agreement ID </td>
                    <td class="govuk-table__cell" scope="row"></td>
                     <td></td>
                </tr>
            </tbody>
        </table>

        <table class="govuk-table details-list" >
<div style="margin-top:75px"
            <tr style="">
                <th class="govuk-heading-m" style="text-align:left; border-top:none;  ">Apprentice</th>
                <th style=" border-top:none; font-weight:400; text-align:right;"> <a href='edit'>Edit apprentice</a></th>
                <th style=" border-top:none "></th>
            </tr>
        </div>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Name</td>
                        <td class="govuk-table__cell" scope="row">Rob Edwards</td>
                </tr>
                 <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Date of birth</td>
                        <td class="govuk-table__cell" scope="row">1 Jan 2000</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Unique learner number</td>
                        <td class="govuk-table__cell" scope="row">9021090210</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Apprenticeship training </br>course</td>
                        <td class="govuk-table__cell" scope="row">Accounting, Level: 2</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Training start date</td>
                        <td class="govuk-table__cell" scope="row">1 Aug 2018</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Training end date</td>
                        <td class="govuk-table__cell" scope="row">1 Jan 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Total cost of training</td>
                        <td class="govuk-table__cell" scope="row">£9,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Reference</td>
                        <td class="govuk-table__cell" scope="row"></td>
                </tr>
            </tbody>
        </table>

        <!--table class="govuk-table details-list">
           <caption class="govuk-heading-m" style="text-align:left; margin-top:45px">End Point Assessor</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">End point Assessor</td>
                        <td class="govuk-table__cell" scope="row"></td>
                </tr>
            </tbody>
        </table>

        <div>

            <textarea class="govuk-textarea" rows="5">The end point assessor has not been declared

            </textarea>
        </div-->

    </div>
</div>

</div>
</div>
</div>
</main>


{% endblock %}