{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/orgsNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "./"
}) }}
{% endblock %}
{% block content %}

<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
*/
</script>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="searchOrgResults" method="get" class="form">
     <h1 class="govuk-heading-xl" style="">
Search for your organisation

        </h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-three-quarters bold-label" for="firstName">
Enter organisation name

              </label>
              <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
              <input class="govuk-input govuk-!-width-one-half" id="firstName" name="firstName" type="text" aria-describedby="First Name">
          </div>
          </fieldset>
        </div>
        <button class="govuk-button">Search</button>
      </form>
    </div>
</div>
</main>
</div>
  </div>
{% endblock %}