{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}    {% include "includes/version1/financeNav.html" %} 

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "find"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" style="" id="company-Name">Your apprentice</h1>
                <form action="reserveHowRecruitingFoundYet" method="get" class="form">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-fieldset__heading">
                     Have you found the apprentice yet?
                           <!--span id="email-hint" class="govuk-hint">
             Choose the level of access this user can have.
            </span-->
                </h2>
                        </legend>
                            <div class="govuk-radios ">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="recruit-service--1" name="recruitType" type="radio" value="foundThem" checked="true">
                                    <label class="govuk-label govuk-radios__label" for="team-whats-next--1">
                                        Yes, I've found them
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="recruit-service--1" name="recruitType" type="radio" value="findThem" >
                                    <label class="govuk-label govuk-radios__label" for="team-whats-next--1">
                                        No I still need to recruit them
                                    </label>
                                </div>
<!--                                 <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="recruit-recruited--2" name="recruitType" type="radio" value="alreadyDone">
                                    <label class="govuk-label govuk-radios__label" for="team-whats-next--2">
                                        I've already have someone ready to go
                                    </label>
                                </div> -->

                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
</div>
{% endblock %}