{% extends "layout.html" %} {% block beforeContent %} {% include "includes/version1/mainNav.html" %}    {% include "includes/version1/financeNav.html" %} {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "./" }) }} {% endblock %} {% block content %}

<!--div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../../accounts">Your Accounts</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../{{employer.id}}">{{ employer.name }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../finance">Finance</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Transactions</li>
    </ol>
</div-->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Your reserved funds</h1>
</div>
</div>


      <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                    <div class="govuk-panel govuk-panel--confirmation" style="background:#fff; padding:0; min-height:170px; border:4px solid darkgrey">
                        <h2 class="govuk-panel__title" style="text-align:left; margin:15px 0 20px 10px; font-size:48px; color:#000">£8,100</h2>
                        <div class="">
                            <p style="text-align:left; color:#fff;margin:25px 0 0 15px; font-weight:700; font-size:24px; color:#000; ">Reserved funds <br />available to use</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
<div class="govuk-grid-column-full" style="margin-top:25px">
    <table class="govuk-table ">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="min-width:260px">Apprenticeship</th>

                <th class="govuk-table__header" scope="col">Quantity left</th>
                <th class="govuk-table__header " scope="col" style="min-width:85px">Until</th>
                <th class="govuk-table__header " scope="col" style="">Funding reserved</th>
                                 <th class="govuk-table__header" scope="col" style="">Status</th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell" scope="row">Aeronautical engineer, Level 2</td>

                <td class="govuk-table__cell" scope="row">2</td>
                <td class="govuk-table__cell ">Aug 2019</td>
                <td class="govuk-table__cell ">£8,100</td>
                                <td class="govuk-table__cell ">Not used</td>
                <td class="govuk-table__cell" scope="row">
                    <a href="changeReserve/fundingDetail">Details</a>
                </td>
            </tr>
                       <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell" scope="row">Aeronautical engineer, Level 2</td>

                <td class="govuk-table__cell" scope="row">1</td>
                <td class="govuk-table__cell ">Aug 2019</td>
                <td class="govuk-table__cell ">£8,100</td>
                                <td class="govuk-table__cell ">Partially used</td>
                <td class="govuk-table__cell" scope="row">
                    <a href='#'>Details</a>
                </td>
            </tr>
            <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell" scope="row">Aeronautical engineer, Level 2</td>
                <td class="govuk-table__cell" scope="row">2</td>
                <td class="govuk-table__cell ">Jan 2019</td>
                <td class="govuk-table__cell ">£8,100</td>
                <td class="govuk-table__cell ">Expired</td>
                <td class="govuk-table__cell" scope="row"><a href="#">Details</a></td>
            </tr>
            <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell" scope="row">Aeronautical engineer, Level 2</td>
                <td class="govuk-table__cell" scope="row">2</td>
                <td class="govuk-table__cell ">March 2019</td>
                <td class="govuk-table__cell ">£8,100</td>
                <td class="govuk-table__cell ">Used</td>
                <td class="govuk-table__cell" scope="row"><a href="#">Details</a></td>
            </tr>
           

        </tbody>
    </table>
</div>
      </div>
  </main>
</div>


{% endblock %}