
{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version3/microNav.html" %}
  {% include "includes/version3/microFindNav.html" %}

{% endblock %}
{% block content %}

<style>

#navigation-primary, #kill-me, .govuk-header__logo,  .govuk-header__link--service-name  {
  display:none ;
}

.govuk-header__content {
  height:45px;
  border-bottom:0;
}

.govuk-header__container {
   border-bottom:none;
}

</style>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">

        <form method="get" action="apprenticeorbusiness">
         
            <h1 class="govuk-heading-xl">Detailed guides</h1>
            <p>We can provide detailed guidance on how to become and apprentice and how to hire an apprentice.</p>
           <!--  <p class="govuk-body-l">Do you want to use a saved apprenticeship?</p> -->
            <div class="govuk-form-group">
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                         Are you looking to do an apprenticesship or are you an employer looking to hire an apprentice
                         <!--  <span class="govuk-hint">The guidance is different .</span> -->
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-yes" name="confirm" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="confirm-yes">
                              I am looking to do an apprenticeship
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-no" name="confirm" type="radio" value="no" >
                            <label class="govuk-label govuk-radios__label" for="confirm-no">
                               I am looking to hire an apprentice
                            </label>
                        </div>  
                     
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
</main>
</div>

{% endblock %}