{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %} 
  {% include "includes/version1/payeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Home",
  href: "./home"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <div style="width:66%; " id="deletedUserAlertMessage" class="success-summary rj-dont-display">
        <h1 class="govuk-heading-l" style="margin-bottom:10px">Agreement signed</h1>
        <p>You've successfully signed an organisation agreement. There are outstanding agreements to be signed. Review the list below to sign all remaining agreements.</p>
    </div>
    <main class="govuk-main-wrapper govuk-main-wrapper--l" style="padding-top:5px">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" style="margin-top:25px" id="company-Name">PAYE schemes</h1>
                <p class="">You'll need to add all the PAYE schemes you intend to use to pay for apprenticeship training.</p>
            </div>
            <form action="./paye/allowtaxdetails">
                <div class="govuk-grid-column-one-third weird-floating-button">
                    <button type="submit" class="govuk-button" style="">Add new scheme</button>
                </div>
            </form>
        </div>
        <div class="govuk-width-container">
                  <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


            <div class="">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col" style="padding-top:0">
                                Added PAYE schemes</th>
                            <!--th scope="col" style="padding-top:0">Email address</th-->
                            <th class="govuk-table__header" scope="col" class="" style="padding-top:0; min-width:300px"> English %</th>
                            <th class="govuk-table__header" scope="col" class="" style="padding-top:0; width:100px"></th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <!--quick hack, will fix -->
                            <td class="govuk-table__cell ">123/SFAT037</td>
                            <td class="govuk-table__cell ">40.000%</td>
                            <!--td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td-->
                            <td class="govuk-table__cell " id="signAgreement"><a href="./paye/detail">Details</a></td>
                        </tr>
                        <!--tr class="govuk-table__row">
                              <td class="govuk-table__cell">Cyberdyne Inc</td>
                              <td class="govuk-table__cell ">Agreement not signed</td>
                                <td class="govuk-table__cell ""><a href="#">Sign agreement</a></td>
                               <td class="govuk-table__cell ">Sign agreement to receive an agreement ID</td>
                        </tr-->
                    </tbody>
                </table>
            </div>
       
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
    What is English percentage?</span>
            </summary>
            <div class="govuk-details__text">
                <p>Your English percentage is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that's paid to your employees that live in England.</p>
                <p>If you think there are any issues with your English percentage, check your payroll data to make sure your employees' address information is correct.</p>
            </div>
        </details>
      </div> 
</div> 
</div>
</div>
</main>
</div>


<script type="text/javascript">
  $( document ).ready(function() {
  var updatedAgreement  = JSON.parse(localStorage.getItem('orgs.updatedAgreement'));
 var changeStuff = function() {
  if (updatedAgreement=='done') {
   // document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
   // document.getElementById("providerName").textContent = "Provider:" ;
   // $(notesStuff).addClass("rj-dont-display");
   // $(addReference).addClass("rj-dont-display");
   // $(ULNTable).addClass("rj-dont-display");
 //     $(deletedUserAlertMessage).removeClass("rj-dont-display");
  //    $(viewAgreement).removeClass("rj-dont-display");
  //    $(signAgreement).addClass("rj-dont-display");
  //    localStorage.setItem("orgs.updatedAgreement", JSON.stringify("nope"))
    }
else {
  //  $(notesStuff).removeClass("rj-dont-display");
  //  $(addReference).removeClass("rj-dont-display");
        }
      };
changeStuff();
});

</script>

{% endblock %}