{% extends "layout.html" %} {% block beforeContent %}  {% include "includes/version1/mainNav.html" %}  {% include "includes/version1/apprenticesNav.html" %}    {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Home", href: "./home" }) }} {% endblock %} {% block content %}
<style>
.survey-panel {
    background: #DEE0E2;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.survey-panel:before {
    content: '';
    position: absolute;
    left: 10px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #DEE0E2;
    clear: both;
}

.survey-panel p {
    margin-bottom: 0;
}

.phase-tag {
    line-height: 1.1428571429;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: f47738;
    font-weight: 900;
    /* background: orange; */
    padding: 5px;
    /* clear: right; */
    position: relative;
    float: left;
    margin-top: 4px;
    margin-right: 5px
}
</style>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Add an apprentice</h1>
                <p>Add details of one or more apprentices to your account, and authorise payments to their training provider.</p>
                 <h2 class="govuk-heading-m"> Before you start</h2>
                 <p>You must:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>know the names of your apprentices</li>
<!--                     <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
 -->                    <li>make sure the organisation that's named on the contract you have with your training provider is in your account - <a href="#"> view organisations in this account</a></li>
                    <li>make sure the PAYE scheme that each apprentice is paid through is in your account - <a href="#">view PAYE schemes in this account</a></li>
                </ul>
            <a href="./add/nonLevyFull/oneOrBulk"  class="govuk-button govuk-button--start">Start</a>
            </div>
        </div>
    </main>
    {% endblock %}