{% extends "layout.html" %} {% block beforeContent %} {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "proResults" }) }} {% endblock %} {% block content %}
<script src="/public/javascripts/accordion.js"></script>
<script>
function whereNow() {
    // var status = $('input[name=radio-group]:checked').val();
    switch (true) {
        //  case  (status == 'provider-1'):
        //          window.location.href='./levy-list';
        //         break;
        // case  (status == 'provider-2'):
        //      window.location.href='./non-levy-list';
        //     break
        // case  (status == 'provider-3'):
        //      window.location.href='./explain-levy';
        //     break
        default: window.location.href = 'proResults';
        // console.log('gyahhhhhhhh, bork bork bork')
        break;
    }
}
</script>
<script>
// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<!--script>
$(document).ready(function() {
    var changeStuff = function() {
        var changeTheThing = JSON.parse(localStorage.getItem('nonLevy.whichApprenticeship'));
        switch (true) {
            case (changeTheThing == 'finServ'):

                break;
            case (changeTheThing == 'cooking'):
                $(financialServicesAdmin).addClass("rj-dont-display")
                $(chefDePartie).removeClass("rj-dont-display")

                break;

            case (changeTheThing == 'building'):
                $(financialServicesAdmin).addClass("rj-dont-display")
                $(buildingServices).removeClass("rj-dont-display")


                break;

            default:
                console.log('gyahhhhhhhh, bork bork bork')
                break;
        }
    }
    changeStuff();
});
</script-->
<!--[if gt IE 8]><!-->
<div class="govuk-width-container">



<div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="">
                    <h1 class="govuk-heading-xl" style="">CYBERDYNE INC</h1>
                    <!--<h3 class="heading-small">Role</h3>-->

                </div>
            </div>
            <form action="providersearch">
                <div class="govuk-grid-column-one-third weird-floating-button" style="text-align:center">
                    <button type="submit" class="govuk-button" style="margin-bottom:15px">Do a thing</button>
                      
                    <div><a href="#" class="shortlistButton" name="funding" value="Financial services administrator" style="font-size:19px; "><i class="fa fa-star-o" ></i><span style="padding-left:5px">Save this provider</span></a></div>

                

                </div>
            </form>
        </div>



    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
                   <div class="govuk-grid-column-full">
<!--                     <h1 class="govuk-heading-xl">CYBERDYNE INC</h1>
                </div> -->






                     <div class="govuk-grid-column-two-thirds">
                    <p class="proMarketing">Whether you are looking to Cyberdyne Inc as a step forward towards a successful career, retraining, progression to university or to pursue an area of interest, HRC has something for you. We offer a wide range of full and part-time courses, Apprenticeships and professional and leisure courses.</p>
       
                <!-- <h2 class="heading-medium">Head office details</h2>-->
                <div id="financialServicesAdmin" class="">
                    <h2 class="govuk-heading-m" style="margin-bottom:0;">
                                <span class="appName">Financial Services Administrator</span>
                            </h2>
                    <div style="margin-bottom: 20px;">
                        <div class="flex-support-meta">
                            <div class="meta-one" style="">
                                <p>Level 3 (equivalent to A levels at grades A to E)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row attachment-full-width">
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-s">Training options</h2>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 0px;">
                            <li>day release</li>
                            <li>block release</li>
                            <li>employer on-site training</li>
                        </ul>
                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Explain training options</span></summary>
                            <div class="govuk-details__text">
                                <p>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Day release:</span> eg one day a week at the training provider's location.
                                </p>
                                <p>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Block release:</span> eg 3 to 4 weeks at the training provider's location.
                                </p>
                                <div>
                                    <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">At your location:</span> the training provider comes to your workplace.
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="govuk-grid-row attachment-full-width" style="margin-top:15px">
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-s">Training location</h2></div>
                    <div class="govuk-grid-column-two-thirds">
                        <p style="text-transform:lowercase">Rhodes Art Complex Rhodes Museum &amp; Commonwealth Centre South Road
                        </p>
                    </div>
                </div>
               <!--  <div style="margin-top:55px"></div>
                    <h2 class="govuk-heading-m" style="margin-bottom:0; ">Training quality rating</h2>
                    <p style="font-size:16px; margin-top:0">Based on 12 reviews from employers</p>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px">
                            <h3 class="govuk-heading-s" style="margin:0px 0 0 0; font-weight:400; ">March 2018 to now</h3>
                            <div class="feedback-block ofsted feedback-outstanding" style="height:60px; width:250px">
                                <p style="padding:15px 0 0 10px;font-weight:700; font-size: 24px; ">Good
                                    <br /> </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <div class="accordion-section-header">
                                <h2 class="govuk-heading-m">What employers said</h2>
                            </div>
                            <div class="accordion-section-body">
                                <h3 class="govuk-heading-s" style="margin-bottom:15px; font-weight:400; ">Based on 12 reviews over the last 6 months</h3>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0; font-weight:700">Strengths</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0; font-weight:700">Things to improve</p>
                                    </div>
                                </div>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0">Training quality (12)</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0">Assessing apprentice progress (3)</p>
                                    </div>
                                </div>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0">Assessing apprentice progress (9)</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0">Onboarding new apprentices (3)</p>
                                    </div>
                                </div>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0">Onboarding new apprentices (9)</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0">Adapting to my needs (1)</p>
                                    </div>
                                </div>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0">Improving apprentice skills (8)</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0"></p>
                                    </div>
                                </div>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0">Improving business outcomes (6)</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0"></p>
                                    </div>
                                </div>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0">Design of training (6)</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0"></p>
                                    </div>
                                </div>
                                <div class="flex-support-meta">
                                    <div class=" " style="margin-right:25px; width:300px">
                                        <p style="margin-bottom:0">Delivery of training (5)</p>
                                    </div>
                                    <div class="">
                                        <p style="margin-bottom:0"></p>
                                    </div>
                                </div>
                                <div class="flex-support-meta" style="margin-bottom:35px"> </div>
                            </div>
                        </div> -->
                        <!--div class="accordion-section">
                <div class="accordion-section-header">
                    <h2 class="govuk-heading-m">Ofsted report</h2>
                </div>
                <div class="accordion-section-body">
                    <h3 class="govuk-heading-s" style="margin-bottom:15px; ">Inspection date:  2 October 2018</h3>
                    <h3 class="govuk-heading-s" style="margin:0px 0 0 0; font-weight:400; ">Overall</h3>
                    <div class="feedback-block ofsted feedback-good" style="height:60px; width:250px">
                        <p style="padding:10px 0 0 10px;font-weight:700; font-size: 24px">Good</p>
                    </div>
                    <a href="#">View the full report</a>
                    <div style="padding-top:20px"></div>
                </div>
            </div-->

            <div style="margin-top:55px"></div>
                <h2 class="govuk-heading-m" style="margin-bottom:0">What employers are saying</h2>
                <p style="font-size:16px; margin-top:0">Based on 12 reviews from 2 employers over the last 6 months</p>
                <div class="">
                    <div class=" " style="margin-right:25px">
                        <h3 class="govuk-heading-s" style="margin:27px 0 0 0; font-weight:700; ">March 2018 to now</h3>
                        <div style="height:30px; margin:10px 0 20px 0;{display: table;}">
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 5px 0 0; width:80px; padding-bottom:5px ">Excellent</div>
                            <div style="display: table-cell;vertical-align: middle; display: inline-block; height:30px; background: linear-gradient(to right, #006435 33%, white 1%);width:60%;" class="feedback-block "> </div>
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 0 0 5px; padding-bottom:5px">4 reviews</div>
                        </div>
                        <div style="height:30px; margin:10px 0 20px 0;{display: table;}">
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 5px 0 0; width:80px; padding-bottom:5px">Good</div>
                            <div style="display: table-cell;vertical-align: middle; display: inline-block; height:30px; width:60%; background: linear-gradient(to right, #85994b 17%, white 1%);" class="feedback-block "> </div>
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 0 0 5px; padding-bottom:5px">2 reviews</div>
                        </div>
                        <div style="height:30px; margin:10px 0 20px 0;{display: table;}">
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 5px 0 0; width:80px; padding-bottom:5px">Poor</div>
                            <div style="display: table-cell;vertical-align: middle; display: inline-block; height:30px; background: linear-gradient(to right, #f47738 17%, white 1%);width:60%;" class="feedback-block "> </div>
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 0 0 5px; padding-bottom:5px">2 reviews</div>
                        </div>
                        <div style="height:30px; margin:10px 0 20px 0;{display: table;}">
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 5px 0 0; width:80px; padding-bottom:5px">Very poor</div>
                            <div style="display: table-cell;vertical-align: middle; display: inline-block; height:30px; background: linear-gradient(to right, #df3034 33%, white 1%);width:60%;" class="feedback-block "> </div>
                            <div style=" display: table-cell;vertical-align: middle; display: inline-block; margin: 0 0 0 5px; padding-bottom:5px">4 reviews</div>
                        </div>
                    </div>
                </div>
                <div class="" style="margin-top:45px">
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0; font-weight:700">Strengths</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0; font-weight:700">Things to improve</p>
                        </div>
                    </div>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0">Training quality (12)</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0">Assessing apprentice progress (3)</p>
                        </div>
                    </div>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0">Assessing apprentice progress (9)</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0">Onboarding new apprentices (3)</p>
                        </div>
                    </div>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0">Onboarding new apprentices (9)</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0">Adapting to my needs (1)</p>
                        </div>
                    </div>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0">Improving apprentice skills (8)</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0"></p>
                        </div>
                    </div>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0">Improving business outcomes (6)</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0"></p>
                        </div>
                    </div>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0">Design of training (6)</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0"></p>
                        </div>
                    </div>
                    <div class="flex-support-meta">
                        <div class=" " style="margin-right:25px; width:300px">
                            <p style="margin-bottom:0">Delivery of training (5)</p>
                        </div>
                        <div class="">
                            <p style="margin-bottom:0"></p>
                        </div>
                    </div>
                </div>
                        <div style="margin-top:35px"></div>
                        <h2 class="govuk-heading-m">About the apprenticeship</h2>
                        <div class="">
                            <p>This course delivers the knowledge element of the apprenticeship as defined in the Post Graduate Engineer Standard and supported by the EPA (End Point Assessment) document. As can be seen above the course modules map to the requirements of the Standard.</p>
                            <p>The skills and behaviour elements of the Standard are to be met by the Employer with reinforcement delivered within the modules.</p>
                            <p>On successful completion of the course, Cranfield University will award a Postgraduate Diploma in Engineering Competence, this will be part of the apprentice's portfolio in support of their achieving recognition of the competence required to complete their Apprenticeship.</p>
                        </div>
                        <h2 class="govuk-heading-m">Provider information</h2>
                        <div class="accordion-section-body">
                            <p>At Hertford, we're passionate about providing education tailored for industry. Every year we develop current and future leaders in technology and management. We can help you strengthen your staff and executive management base at all levels</p>
                            <p>We specialise in:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Aerospace</li>
                                <li>Defence and Security</li>
                                <li>Energy and Power</li>
                                <li>Environment and Agrifood</li>
                                <li>Management and Leadership</li>
                                <li>Manufacturing</li>
                                <li>Transport Systems</li>
                                <li>Water</li>
                            </ul>
                        </div>
                        <div class="disclaimer" style=" margin-top:35px">
                            <h4 class="govuk-heading-s">Content disclaimer</h4>
                            <p>Skills Funding Agency cannot guarantee the accuracy of course information on this site and makes no representations about the quality of any courses which appear on the site. Skills Funding Agency is not liable for any losses suffered as a result of any party relying on the course information provided.
                            </p>
                        </div>
                    </div>
           

                <div class="govuk-grid-column-one-third">
                    <aside class="related-container related">
                        <div class="panel--contact">
                            <h2 class="govuk-heading-m" >Contact details</h2>
                            <dl>
                                <dt class="govuk-heading-s" style="margin-bottom:0px">Website:</dt>
                                <p><a href="http://www.cranfield.ac.uk/business/develop-your-people/masterships/masterships-courses" rel="external" target="_blank" class="course-link apprenticeshipContact">
Cyberdyne Inc website</a>
                                </p>
                                <div class="govuk-heading-s" style="margin-top:0px; margin-bottom:0; padding-top:0">Phone number:</div>
                                <p id="phone" class="phone">01234 754930</p>
                                    <dt class="govuk-heading-s" style="margin-top:0px; margin-bottom:0; padding-top:0">Email:</dt>
                                <p id="email" class="email"><a href="mailto:masterships@glos.ac.uk">masterships@cyberdyne.ac.uk</a></p>
                                    <dt class="govuk-heading-s" style="margin-top:0px; margin-bottom:0; padding-top:0">Contact page</dt>
                                <p id="linky" class="linky"><a href="http://www.towerskills.co.uk/contact/employers-booking-form">contact this training provider</a></p>
                                    <dt class="govuk-heading-s" style="margin-top:0px; margin-bottom:0; padding-top:0">Address:</dt>
                                <p id="training-location" class="training-location">
                                    Cyberdyne Inc,
                                    <br />The Bounce,
                                    <br />Ford,
                                    <br />Glos,
                                    <br />GL10 6AE
                                </p>
                            </dl>
                        </div>
                    </aside>
                </div>
             </div>
         </main>
         </section>
    </main>
    {% endblock %}