<!-- <nav id="menu">
  <ul id="menu-closed">
    <li><a href="#">Home</a></li>
    <li><a href="#">Finance</a></li>
    <li><a href="#">Apprentices</a></li>
    <li><a href="#">Recruit</a></li>
    <li><a href="#">Your Team</a></li>
    <li><a href="#">Your organisations and agreements</a></li>
     <li><a href="#">PAYE Schemes</a></li>
     <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
       <li><a href="#">Sign out</a></li>
    <li><a href="#menu-closed">&#9660; Close </a></li>
    <li><a href="#menu">&#x25b6; More</a></li>
  </ul>
</nav> -->

<nav class=''>
  <ul class='links'>
    <li id="homeNav"><a href="micrositeNav">Home</a></li>
     <li id="storiesNav"><a href="storiesNav">Real stories</a></li>
    <li id="findOutNav"><a href="howToNav">Find out about apprenticeships</a></li>
<!--     <li id="apprenticesNav"><a href="apprenticesNav">Apprentices</a></li>
    <li id="recruitNav"><a href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard">Recruit</a></li>
    <li id="teamNav"><a href="teamNav">Your Team</a></li>
    <li id="orgsNav"><a href="orgsNav">Your organisations and agreements</a></li>
    <li id="payeNav"><a href="payeNav">PAYE Schemes</a></li>
    <li id="helpNav"><a href="helpNav">Help</a></li>
    <li id="settingsNav"><a href="settingsNav">Settings</a></li>
    <li id="signOutNav"><a href="signOutNav">Sign out</a></li> -->
  </ul>

  <ul class='hidden-links hidden'></ul>
</nav>

