{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block beforeContent %} 
{% include "includes/version2/mainNav.html" %} 
{% include "includes/version2/homeNav.html" %} 
 {% endblock %} 

{% block content %}

<!-- 
<style>
  .home-nav a {

  }

  .phase-banner-beta-NEW {

    display:none;
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<script>
 var fundingStatus =JSON.parse(localStorage.getItem('nonLevy.fundingSet'));
  var welcomeWizardStatus =JSON.parse(localStorage.getItem('nonLevy.welcomeWizardStatus'));



$(document).ready(function () {
    var changeStuff = function() {
      if (welcomeWizardStatus=="dontShow") {
           $(welcome).addClass("rj-dont-display");
         $(allContentHome).removeClass("rj-dont-display");
      }
      // localStorage.setItem("nonLevy.welcomeWizardStatus", JSON.stringify("yes"));
      }

// Deal with the PAYE first options


   $('input:radio[name="add-paye-group"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == '2') {
           $(addPAYEPanel).removeClass("rj-dont-display");
        } else {
            $(addPAYEPanel).addClass("rj-dont-display");
            $(payeQuestion).addClass("rj-dont-display");
             $(payeSuccess).removeClass("rj-dont-display");
             $(addOrg).removeClass("rj-dont-display");
      }
    });

      $('input:radio[name="add-org-group"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == '2') {
           $(addORGPanel).removeClass("rj-dont-display");
        } else {
            $(addORGPanel).addClass("rj-dont-display");
            $(orgQuestions).addClass("rj-dont-display");
             $(orgSuccess).removeClass("rj-dont-display");
             $(inviteUsers).removeClass("rj-dont-display");
      }
    });

            $('input:radio[name="invite-users-group"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == '2') {
           $(addTEAMPanel).removeClass("rj-dont-display");
        } else {
            $(addTEAMPanel).addClass("rj-dont-display");
            $(teamQuestions).addClass("rj-dont-display");
             $(teamSuccess).removeClass("rj-dont-display");
             $(signAgreement).removeClass("rj-dont-display");
      }
    });

    $('input:radio[name="sign-org-group"]').change(
    function(){
        if ($(this).is(':checked') && $(this).val() == '1') {
           $(addAGREEPanel).removeClass("rj-dont-display");
        } else {
            $(addAGREEPanel).addClass("rj-dont-display");
            $(agreeQuestions).addClass("rj-dont-display");
             $(agreeSuccess).removeClass("rj-dont-display");
             $(wizardPending).removeClass("rj-dont-display");
      }
    });

changeStuff();
   });

function closeWelcomeWizard () {
         $(welcome).addClass("rj-dont-display");
         $(allContentHome).removeClass("rj-dont-display");
        localStorage.setItem("nonLevy.welcomeWizardStatus", JSON.stringify("dontShow"));
      }

function loggedInHomepage () {
           $(welcome).addClass("rj-dont-display");
         $(allContentHome).removeClass("rj-dont-display");
}

function goToAgreements () {
                localStorage.setItem("nonLevy.welcomeWizardStatus", JSON.stringify("dontShow"));
                 window.location.href = '../onboarding/organisations';

}

</script>
<script src="/public/ty/assets/javascripts/js.cookie.js"></script>
<script>
 // showApp = Cookies.get('appCount')
///
//  if (showPro==nan) {showApp=0}

 //    $("#savedApps span").text(Number(showApp));
 //  $("#savedPro span").text(Number(showPro));
</script>
 -->

 <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
<section id="allContentHome" class="">
   <h1 class="govuk-heading-xl rj-headings-border" style="" id="company-Name">Assurance Aerospace Engineering
      <span class="govuk-caption-l">Account ID: XJBMNV</span></h1>
    

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds column-minimum">
      <ol class="app-task-list" style="margin-top:0">
        <li class="">
          <h2 class="app-task-list__section">
            <a href="./finance">Finance</a>
          </h2>
           <p style="">You can get help from the government to pay for apprenticeship training. There are a number of different ways, depending on your organisation.</p>
          <ul class="app-task-list__items"  style="padding-left:0">
           <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href="./finance" aria-describedby="eligibility-completed">
               View available funds
              </a>
              <strong class="govuk-tag app-task-list__task-completed " id="claimMyFundingComplete">£18,100</strong>
            </li>

            <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href="./finance/reserve" aria-describedby="eligibility-completed">
               Reserve additional funds
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./finance/transactions" aria-describedby="eligibility-completed" style="width:33%">
               View transactions
              </a>
               <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display" id="eligibilityLevy">Levy funded</strong>
                 <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display " id="eligibilityCoinvestment">Co-investment funded</strong>
                  <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display " id="eligibilityTransfer">Transfer funded</strong>
            </li>

    

<!--               <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href=" " aria-describedby="eligibility-completed">
               PAYE Schemes
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li> -->



<!--             <li class="app-task-list__item " id="forecastMyLevy">
              <a class="app-task-list__task-name" href="" aria-describedby="eligibility-completed">
                Forecast my funding
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="forcastMyLevyComplete">Completed</strong>
            </li> -->
 <!--        <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href=" " aria-describedby="eligibility-completed">
               Transfer funds
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li> -->
  

          </ul>


        <li>
          <h2 class="app-task-list__section">
            Find apprenticeships
          </h2>
          <p style="">Find the right apprenticeship for your business and find a training provider to deliver the training. You can save your searches.</p>
          <ul class="app-task-list__items" style="padding-left:0">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./find" aria-describedby="company-information-completed">
                Find apprenticeship training and get costs
              </a> 
              <!--strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong-->
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./savedApprenticeships">
                View your saved apprenticeships
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedApps" style="min-width:60px; text-align: center; " id="contact-details-completed"><span>4</span></strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            Find training providers
          </h2>
         <p style="">Find training providers to deliver training and save them to a list.</p>
          <ul class="app-task-list__items" style="padding-left:0">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./find/findaprovider" aria-describedby="contact-details-completed">
                Find training providers
              </a>
              <!--strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong-->
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./savedProviders">
                View your training providers
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="contact-details-completed"><span>2</span></strong>
             <!--strong class="govuk-tag app-task-list__task-completed" style="min-width:60px; text-align: center; " id="contact-details-completed">3</strong-->
            </li>
          </ul>
       </li>


       <li>
          <h2 class="app-task-list__section">
             Recruit apprentices
          </h2>
          <p style="">Advertise your apprenticeships and view current applications you have been sent.</p>
          <ul class="app-task-list__items" style="padding-left:0">
                         <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard">
                Advertise an apprenticeship
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard">
                View current applications
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">0</strong>
            </li>

          </ul>
       </li>

             <li>
          <h2 class="app-task-list__section">
           Enable spending
          </h2>
          <p style="">Add the correct details to access your funds and authorise the spending of those funds.</p>
          <ul class="app-task-list__items" style="padding-left:0">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./orgs">
                Add and view organisations and agreements
              </a>
                          <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">1</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name"  href="./paye">
               Add and view PAYE schemes
              </a>
                          <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">1</strong>

            </li>
          </ul>
       </li>

       <li>
          <h2 class="app-task-list__section">
           Manage apprentices
          </h2>
          <p style="">Manage apprentices in your account.</p>
          <ul class="app-task-list__items" style="padding-left:0">

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./apprentices/add">
                Add a new apprentice
              </a>
  
            </li>

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./apprentices/cohorts">
                Review and approve new apprentices
              </a>
           <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">0</strong>
            </li>
             <li class="app-task-list__item">
              <a class="app-task-list__task-name"  href="./apprentices/manage">
                View your current apprentices
              </a>
             <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">2</strong>
            </li>

          </ul>
       </li>

<!--         <li>
          <h2 class="app-task-list__section">
           Your team
          </h2>
          <p style="">Control what your team can do and invite new team members.</p>
          <ul class="app-task-list__items" style="padding-left:0">

            <li class="app-task-list__item">
              <a class="app-task-list__task-name"  href="./team">
               View and add team members
              </a>
               <strong class="govuk-tag app-task-list__task-completed" id="noTeamMembers" style="min-width:60px; text-align: center; " id="">2</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                View team members
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="savedPro" style="min-width:60px; text-align: center; " id="">1</strong>
            </li>
          </ul>
       </li> -->


      </ol>
    </div>
  </li>


                    <div class="govuk-grid-column-one-third">
                        <section>
                            <nav style="height:47px">
                                <ul class="js-tabs" role="tablist">
                                    <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks" class="selected">Tasks</a></li>
                                </ul>
                            </nav>
                            <div class="panes">
                                <div class="js-tab-pane" id="pane-tasks" role="tabpanel" aria-hidden="false" style="display: block;">
                                    <p>You do not have any tasks</p>
                                </div>
                            </div>
                        </section>
                    </div>
  </div>
</ol>
</div>
</div>
</section>
</main>
</div>





</section>
</main>


{% endblock %}
