{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}
  {% include "includes/version1/homeNav.html" %}
{% endblock %}
{% block content %}


<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var creategovuk-button = document.getElementById('createAccountgovuk-button');
EventUtil.addHandler(creategovuk-button, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
*/
</script>



<script>
var fundingStatus = JSON.parse(localStorage.getItem('nonLevy.fundingSet'));
var welcomeWizardStatus = JSON.parse(localStorage.getItem('nonLevy.welcomeWizardStatus'));


$(document).ready(function() {
 
    var changeStuff = function() {
        if (welcomeWizardStatus == "dontShow") {
            $(welcome).addClass("rj-dont-display");
            $(allContentHome).removeClass("rj-dont-display");
        }
        // localStorage.setItem("nonLevy.welcomeWizardStatus", JSON.stringify("yes"));
    }

    // Deal with the PAYE first options


    $('input:radio[name="add-paye-group"]').change(
        function() {
            if ($(this).is(':checked') && $(this).val() == '2') {
                $(addPAYEPanel).removeClass("rj-dont-display");
            } else {
                $(addPAYEPanel).addClass("rj-dont-display");
                $(payeQuestion).addClass("rj-dont-display");
                $(payeSuccess).removeClass("rj-dont-display");
                $(addOrg).removeClass("rj-dont-display");
            }
        });

    $('input:radio[name="add-org-group"]').change(
        function() {
            if ($(this).is(':checked') && $(this).val() == '2') {
                $(addORGPanel).removeClass("rj-dont-display");
            } else {
                $(addORGPanel).addClass("rj-dont-display");
                $(orgQuestions).addClass("rj-dont-display");
                $(orgSuccess).removeClass("rj-dont-display");
                $(inviteUsers).removeClass("rj-dont-display");
            }
        });

    $('input:radio[name="invite-users-group"]').change(
        function() {
            if ($(this).is(':checked') && $(this).val() == '2') {
                $(addTEAMPanel).removeClass("rj-dont-display");
            } else {
                $(addTEAMPanel).addClass("rj-dont-display");
                $(teamQuestions).addClass("rj-dont-display");
                $(teamSuccess).removeClass("rj-dont-display");
                $(signAgreement).removeClass("rj-dont-display");
            }
        });

    $('input:radio[name="sign-org-group"]').change(
        function() {
            if ($(this).is(':checked') && $(this).val() == '1') {
                $(addAGREEPanel).removeClass("rj-dont-display");
            } else {
                $(addAGREEPanel).addClass("rj-dont-display");
                $(agreeQuestions).addClass("rj-dont-display");
                $(agreeSuccess).removeClass("rj-dont-display");
                $(wizardPending).removeClass("rj-dont-display");
            }
        });

    changeStuff();
});

function closeWelcomeWizard() {
    $(welcome).addClass("rj-dont-display");
    $(allContentHome).removeClass("rj-dont-display");
    localStorage.setItem("nonLevy.welcomeWizardStatus", JSON.stringify("dontShow"));
}

function loggedInHomepage() {
    $(welcome).addClass("rj-dont-display");
    $(allContentHome).removeClass("rj-dont-display");
}

function goToAgreements() {
    localStorage.setItem("nonLevy.welcomeWizardStatus", JSON.stringify("dontShow"));
    window.location.href = './orgs';

}
</script>


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
<section id="welcome" class="info-summary " style="position: relative; overflow: auto;">
    <div class="text hgroup">

        <h2 class=" govuk-heading-xl" style="margin-bottom:0;width:66%">Hi <span class="user-name">Sam</span>, welcome  to your new digital account</h2>
        <p>Follow these steps to set up your account.</p>

    </div>
<section>
    <section id="add-paye">
        <div class="todo" id="payeQuestion" style="margin-top:55px">
            <form class="inline" >
                <div class="govuk-form-group" style="margin:0">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h3 class="govuk-heading-m" style="margin:0">Step 1 of 4</h3>
                            <h5 class=" govuk-heading-s" style="margin:0">Add more PAYE schemes now?</h5>
                            <p style="margin:15px 0 0 0 ">This allows your schemes' levy funds to be paid into your account.</p>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="add-paye-1" name="add-paye-group" type="radio" value="2">
                                <label class="govuk-label govuk-radios__label" for="add-paye-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="add-paye-2" name="add-paye-group" type="radio" value="1">
                                <label class="govuk-label govuk-radios__label" for="add-paye-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                        <div class="govuk-inset-text panel-border-narrow rj-dont-display"  id="addPAYEPanel">
                           <p> <a href="./paye/allowtaxdetails">Add PAYE schemes now</a> - you'll need your Government Gateway login details.</p>
                        </div>
               
                    <div class="form-group sr-only ">
                        <a href="#" id="action" class="govuk-button">Continue</a>
                    </div>
            </form>
        </div>
        <div class="done success-summary rj-dont-display" style="border-color: #2e358b" id="payeSuccess">
            <h3 class="govuk-heading-m goWhite" style="margin-bottom:0">Step 1 of 4 <span class="govuk-!-font-size-19 govuk-!-font-weight-bold"><a href="#">(review this step)</a></span></h3>
            <p class="goWhite" style="margin-top:0"><span class="addedPAYE goWhite">1</span> PAYE schemes added</p>
            <span class'doneButton">Done <i class="fa fa-check"></i></span>
        </div>
    </section>


<section id="addOrg" class="rj-dont-display">
<div class="todo" id="orgQuestions">
   <form class="inline" action="#">
       <div class="govuk-form-group" style="margin:0">


            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
               <h3 class="govuk-heading-m" style="margin:0">Step 2 of 4</h3>
               <h5 class=" govuk-heading-s" style="margin:0">Add more organisations now?</h5>
                <p style="margin:15px 0 0 0 ">This allows organisations to spend funds on apprentices.</p>
                </legend>

                 <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="add-org-1" name="add-org-group" type="radio" value="2">
                                <label class="govuk-label govuk-radios__label" for="add-org-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="add-org-1" name="add-org-group" type="radio" value="1">
                                <label class="govuk-label govuk-radios__label" for="add-org-1">
                                    No
                                </label>
                            </div>
                        </div>
                <div class="sr-only ">
                    <!--<a href="/sprint/19/onboarding/before-you-start.html"> id="action" class="govuk-button">Continue</a>-->
                    <a href="#" id="action" class="govuk-button">Continue</a>
                </div>
            </fieldset>

          </div>
            <div class="govuk-inset-text panel-border-narrow rj-dont-display" id="addORGPanel">
                <p><a href="./orgs/searchOrg">Add organisations now</a>.</p>
            </div>
        </form>
    </div>

    <div class="done success-summary rj-dont-display" id="orgSuccess" style="border-color: #2e358b">
        <h3 class="govuk-heading-m goWhite" style="margin-bottom:0">Step 2 of 4 <span class="govuk-!-font-size-19 govuk-!-font-weight-bold"><a href="#">(review this step)</a></span></h3>
         <p class="goWhite" style="margin-top:0"><span class="org-count">1</span> organisations added</p>
         <span class'doneButton">Done <i class="fa fa-check"></i></span>
    </div>
</section>

<section id="inviteUsers" class="rj-dont-display">
    <div class="todo" id="teamQuestions">
         <form class="inline" action="#">
       <div class="govuk-form-group" style="margin:0">
               <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h3 class="govuk-heading-m" style="margin:0">Step 3 of 4</h3>
                        <h5 class=" govuk-heading-s" style="margin:0">Add more organisations now?</h5>
                        <p style="margin:15px 0 0 0 ">This allows your colleagues to manage apprenticeships or finances.</p>
                  </legend>

                 <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="invite-users-2" name="invite-users-group" type="radio" value="2">
                                <label class="govuk-label govuk-radios__label" for="invite-users-2">
                                    Yes, add team members
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="invite-users-1" name="invite-users-group" type="radio" value="1">
                                <label class="govuk-label govuk-radios__label" for="invite-users-1">
                                    No
                                </label>
                            </div>
                        </div>


                    <div class="sr-only">
                        <a href="#" id="action" class="govuk-button">Continue</a>
                    </div>
                </fieldset>

                <div class="govuk-inset-text p rj-dont-display" id="addTEAMPanel">
                    <p><a href="./team/add-new-user">Invite colleagues from my organisation now</a>.</p>
                </div>
            </div>
        </form>
    </div>
    <div class="done success-summary rj-dont-display" id="teamSuccess" style="border-color: #2e358b">
        <h3 class="govuk-heading-m goWhite">Step 3 of 4 <span class="govuk-!-font-size-19 govuk-!-font-weight-bold"><a href="#">(review this step)</a></span></h3>
          <p class="goWhite" style="margin-top:0">1 team member added</p>
        <span class'doneButton">Done <i class="fa fa-check"></i></span>
    </div>
</section>



<section id="signAgreement" class="rj-dont-display">
    <div class="todo" id="agreeQuestions">
             <form class="inline" action="#">
                <div class="govuk-form-group" style="margin:0">
                 <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-heading-s">
                          <h3 class="govuk-heading-m" style="margin:0">Step 4 of 4</h3>
                            <h5 class=" govuk-heading-s" style="margin:0">Are you going to sign the agreements?</h5>
                          <p style="margin:15px 0 0 0 ">This allows you to spend funds.</p>
                    </legend>


                      <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sign-org-group-1" name="sign-org-group" type="radio" value="1">
                                <label class="govuk-label govuk-radios__label" for="sign-org-group-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sign-org-group-2" name="sign-org-group" type="radio" value="2">
                                <label class="govuk-label govuk-radios__label" for="sign-org-group-2">
                                    No, someone else will sign the agreements
                                </label>
                            </div>
                        </div>
                    <div class="sr-only">
                        <!--<a href="/sprint/19/onboarding/before-you-start.html"> id="action" class="govuk-button">Continue</a>-->
                        <a href="#" id="action" class="govuk-button">Continue</a>
                    </div>
                    <div class="govuk-inset-text panel-border-narrow agreement-panel rj-dont-display" id="addAGREEPanel">
                        <p>1 unsigned agreement<span class="agreementPlural"></span>. <a href="#" onclick="goToAgreements()">View  agreements now.</a></p>
                    </div>
            </div>
        </form>
    </div>
    <div class="done success-summary rj-dont-display" id="agreeSuccess" style="border-color: #2e358b">
        <h3 class="govuk-heading-m goWhite">Step 4 of 4 <span class="govuk-!-font-size-19 govuk-!-font-weight-bold"><a href="#">(review this step)</a></span></h3>
        <p  class="goWhite" style="margin-top:0"><span class="signedOrgs">0</span> agreements signed</p>
        <span class'doneButton">Done <i class="fa fa-check"></i></span>
    </div>
</section>


<section style="margin-top: 10px;" class="rj-dont-display" id="wizardPending">
    <div class="complete" style="padding: 20px; background:#28A197; color: white;">
        <h4 class="govuk-heading-m" style="color:#fff; margin-bottom:0">
                                Tasks completed <i class="fa fa-check"></i>
                </h4>
        <p class="govuk-!-font-size-19 govuk-!-font-weight-bold"><a style="color: white;" onclick="loggedInHomepage()" href="#" class="hideWelcomeWizard">I'm done - take me to my homepage</a></p>
    </div>




    <!--div style="margin-top: 10px; display: block; padding: 20px; float: left; width: 100%; box-sizing: border-box;">
        <div class="notice">
            <i class="icon icon-important">
              <span class=""></span>
              </i>
            <strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">
                  Your agreement needs to be signed before you can spend funds. <a href="#" onclick="goToAgreements()">View agreement now</a>.</strong>
        </div>
    </div-->


<div style="margin-top: 10px; display: block; padding: 20px; float: left; width: 100%; box-sizing: border-box;">
<div class="govuk-warning-text" style="">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
     Your agreement needs to be signed before you can spend funds. <a href="#" onclick="goToAgreements()">View agreement now</a>
  </strong>
</div>
</div>





</section>
<section style="margin-top: 10px; background: #28A197; color: white; padding: 20px;" class="rj-dont-display" id="wizardComplete">
    <div class="complete">
        <h4 class="govuk-heading-m">
                                Setup complete <i class="fa fa-check"></i>
                </h4>
        <p>You can now <a href="https://das-alpha-node-ui-proto.herokuapp.com/programmeTen/contracts/new-contract" style="font-weight: 900; color: white;">add apprentices</a>.</p>
    </div>

</section>
<a class="hideWelcomeWizard" style="position: absolute; top :20px; right: 20px; text-decoration: none;" class="" onclick="closeWelcomeWizard()" href="#"><span class="">Close</span> <i class="fa fa-times"></i></a>
</section>
</section>
</fieldset>
</div>
</form>

</section>
</section>
</section>



    <!----------/////////////////////////// MAIN PAGE CONTENT HERE /////////////////////////////////////////////////////////////////////////////////-->  

        <section id="allContentHome" class="rj-dont-display">
            <!-- <div class="govuk-grid-row"> -->
                <h1 class="govuk-heading-xl rj-headings-border" style="" id="company-Name">Assurance Aerospace Engineering
      <span class="govuk-caption-l">Account ID: XJBMNV</span></h1>
                <!--script>document.getElementById('company-Name').innerText = JSON.parse(localStorage.getItem('company-name-header'));</script-->
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div style="max-width:90%">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half ">
                                    <h3 class="govuk-heading-m" style="margin-top:0 "><a href="./team">Your team</a></h3>
                                    <p class="rj-home-spacer">Control what your team can do and invite new team members.</p>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <h3 class="govuk-heading-m rj-top-border-mobile" style="margin-top:0;"><a href="./finance">Finance</a></h3>
                                    <p>View your financial transactions, connect with other employers and send or receive transfer funds.</p>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0;padding-top:35px  "><a href="./orgs">Your organisations and agreements</a></h3>
                                    <p>Add your organisations that will make contracts with training providers.</p>
                                </div>
                                <div class="govuk-grid-column-one-half ">
                                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href="./paye">PAYE schemes</a></h3>
                                    <p class="rj-home-spacer">Add apprentices, update details of existing apprentices and authorise payments to training providers.</p>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0;padding-top:35px  "><a href="./apprentices">Apprentices</a></h3>
                                    <p class="rj-home-spacer rj-bottom-border-mobile ">Add or remove PAYE schemes.</p>
                                </div>
                                <div class="govuk-grid-column-one-half ">
                                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href="./find">Find apprenticeship training</a></h3>
                                    <p class="rj-home-spacer">Search for apprenticeships and see details of approved providers who can deliver the training.</p>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href="https://das-raa-v2.herokuapp.com/prototypes/public-beta/dashboard">Recruitment</a></h3>
                                    <p class="rj-home-spacer rj-bottom-border-mobile ">Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprentice.</p>
                                </div>
                                <div class="govuk-grid-column-one-half ">
                                    <h3 class="govuk-heading-m rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px"> </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <section>
                            <nav style="height:47px">
                                <ul class="js-tabs" role="tablist">
                                    <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks" class="selected">Tasks</a></li>
                                </ul>
                            </nav>
                            <div class="panes">
                                <div class="js-tab-pane" id="pane-tasks" role="tabpanel" aria-hidden="false" style="display: block;">
                                    <p>You do not have any tasks</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            <!-- </div> -->
        </section>
</div>
    
{% endblock %}