{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}  {% include "includes/version1/payeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to PAYE scemes",
  href: "../paye"
}) }}
{% endblock %}
{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                   <span class="govuk-caption-xl">Confirm PAYE</span>
                    <h1 class="govuk-heading-xl" style="">001/AP00001</h1>
          
         
           <div style="margin-bottom:30px"></div>
             <p>Is this the correct PAYE scheme?</p>
            <!--h2 class="govuk-heading-m" style="" id="company-Name">Is this correct?</h2-->
            <div>
            <form style="display:inline-block;" action="../paye/confirmed">
                    <button type="submit" class="govuk-button" >Yes, continue</button>
            </form>
            
            <a class="govuk-button clear-button" href="../paye/govtgateway" >No, use different details</a>
       
          </div>



             </div>
        </div>
    </main>
</div>


{% endblock %}