{% extends "layout.html" %} 
{% block beforeContent %} 
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back to Rob Edwards", href: "robEdwardsLive" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">

        <form method="get" action="appsChangeStatusRobEdwards">
            <h1 class="govuk-heading-xl">Change apprentice status</h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            What status change do you want to make?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        {% if apprentice.status != 'Live' %}
                        <!--div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="status-live" name="status" type="radio" value="Live">
                            <label class="govuk-label govuk-radios__label" for="status-live" checked>
                                Resume
                            </label>
                        </div-->
                        {% endif %} {% if apprentice.status != 'Paused' %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="status-pause" name="status" type="radio" value="Paused">
                            <label class="govuk-label govuk-radios__label" for="status-pause">
                                Pause
                            </label>
                        </div>
                        {% endif %} {% if apprentice.status != 'Stopped' %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="status-stop" name="status" type="radio" value="Stopped">
                            <label class="govuk-label govuk-radios__label" for="status-stop">
                                Stop
                            </label>
                        </div>
                        {% endif %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="status-none" name="status" type="radio" value="Return" checked>
                            <label class="govuk-label govuk-radios__label" for="status-none" >
                                Don't change the status
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}