{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/teamNav.html" %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to your team",
  href: "./"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" style="" id="company-Name">Rob Edwards</h1>
                <p class="govuk-body-l">Choose what you allow this team member to do.</p>
               

<form action="active-user-rob" method="get" class="form">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <!--h2 class="govuk-fieldset__heading">
              
            </h2-->
            </legend>
            <div class="govuk-radios ">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="permissionchange-1" name="permissionchange" type="radio" value="true">
                    <label class="govuk-label govuk-radios__label" for="permissionchange-1">
                        View information but can’t make changes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="permissionchange-2" name="permissionchange" type="radio" value="false">
                    <label class="govuk-label govuk-radios__label" for="permissionchange-2">
                        Add apprentices and view information
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="permissionchange-3" name="permissionchange" type="radio" value="false" checked="checked">
                    <label class="govuk-label govuk-radios__label" for="permissionchange-3">
                        Accept agreements, view information and manage PAYE schemes, organisations, apprentices and team members
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button class="govuk-button">Update</button>
</form>
</div>
</div>
</div>
{% endblock %}