{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .team-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }
</style>


{% include "includes/webchat/chatjsuser.html" %}
  {% include "includes/support/phase_banner_beta_float_help.html" %}
<main id="content" role="main">

  <div class="breadcrumbs back-breadcrumb">
    <ol role="breadcrumbs">
       <a class="link-back" onclick="goBack()">Back</a>
    </ol>
  </div>

<div class="grid-row">
  <div class="column-two-thirds">
      <h1 class="heading-xlarge" >You do not have permission to perform this action</h1>
            <p>You only have permission to: View information but not make changes.</p><p>To make the change you requested you will have to ask a user with higher permissions to do it</p>
             <a class="link-back" onclick="goBack()">Go back</a>
</div>

            <div class="column-one-third">
                <aside class="related">
                <h2 class="heading-medium" style="margin-top:10px">Further guidance</h2>
                <nav role="navigation">
                      <ul class="robSideNav">
                           <li><a href="/{% include "includes/sprint-link.html" %}/support/problem-solver/employer/articles?id=4" >Our only apprenticeship service user has left the company – how do we access our account?</a></li>
                              <!--li><a href="https://www.gov.uk/guidance/pay-apprenticeship-levy" >Doing the thing</a></li-->
                              <li><a href="/{% include "includes/sprint-link.html" %}/support/individualhelps/english-percentagehelp">Need support?</a></li>
                        </ul>
                    </nav>
                </aside>
          </div>
</div>
{% include "includes/webchat/chatbox.html" %}
</main>
{% endblock %}
