{% extends "layout.html" %} 
{% block beforeContent %} 
{% from "back-link/macro.njk" import govukBackLink %} 
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %}
{{ govukBackLink({ text: "Back", href: "../apprentices" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">

        <form method="get" action="#">
            <input name="status" value="Stopped" type="hidden" />
            <h1 class="govuk-heading-xl">Annual apprenticeship return</h1>
            <p class=" ">You can submit a new report for the year 1 April 2017 to 31 March 2018 or review previously submitted reports.</p>


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            What do you want to do?
                        </h1>
                    </legend>

                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="DateSelection-today" name="DateSelection" type="radio" value="Today" / checked>
                            <label class="govuk-label govuk-radios__label" for="DateSelection-Today">
                                Create a new report
                            </label>
                        </div>

                     <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="DateSelection-BeforeToday" name="DateSelection" type="radio" value="BeforeToday" data-aria-controls="conditional-how-contacted-conditional-before-today" >
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-before-today">
                              View a previously submitted report
                            </label>
                        </div>
                      </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit " class="govuk-button ">
                Continue
            </button>
        </form>
    </div>
</div>
</main>
</div>
{% endblock %}