{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to apprentices",
  href: "../"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Choose organisation </h1>
                <form action="training-provider" method="POST" class="form">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
       

                                <label class="govuk-label  bold-label" for="firstName">
  Which organisation is named on the contract with the training provider for the apprentices you'd like to add?

              </label>

                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="organisation-nice-employer" name="organisation" type="radio" value="Nice Employer" {{ checked( "organisation", "Nice Employer") }}>
                                    <label class="govuk-label govuk-radios__label" for="organisation-nice-employer">
                                        Assurance Aerospace Engineering
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="organisation-good-employer" name="organisation" type="radio" value="Good Employer" {{ checked( "organisation", "Good Employer") }}>
                                    <label class="govuk-label govuk-radios__label" for="organisation-good-employer">
                                       ; DROP TABLE "COMPANIES";-- LTD
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is a contract for services?
    </span>
  </summary>
  <div class="govuk-details__text">
<p>A contract for services is a formal agreement between a buyer and a supplier.</p>

<p>In this case, the contract is between the organisation that's buying apprenticeship training for their apprentices and the training provider that's training the apprentices.</p>

<p>If you're an employer-provider, for example, you won't need a contract for services as your organisation is both the buyer and the supplier.</p>
  </div>
</details>
                    <button class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
