{% extends "layout.html" %} 
{% block beforeContent %} 
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back", href: "EditStatus" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">


        <form method="get" action="ellisCarverStopped">
            <input name="status" value="Stopped" type="hidden" />
            <h1 class="govuk-heading-xl">Edit stop date</h1>
            <div class="govuk-form-group">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Name</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">Rob Edwards</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Unique learner number</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">9021090210</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Current stop date</td>
                            <td class="govuk-table__cell govuk-!-font-weight-bold">1 Aug 2018</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" style="margin-bottom:0">
                        <h1 class="govuk-fieldset__heading">
                            Would you like to stop this apprentice?
                        </h1>

    </legend>
    <span id="dob-hint" class="govuk-hint">
      The earliest date you can enter is 01 05 2017

    </span>
    <div class="govuk-date-input" id="dob">

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>
</div>



            <button type="submit " class="govuk-button ">
                Confirm new stop date
            </button>
             <a  class="govuk-button clear-button" href="ellisCarverStopped" >Cancel </a>
        </form>
    </div>
</div>
</main>
</div>


{% endblock %}