{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/provider/providerNav.html" %}
  {% include "includes/version1/provider/cohortsNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "cohortReview"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">
           Confirm employer

        </h1>

        <p class="ukgov-body">You’ve received a new cohort from ; DROP TABLE "COMPANIES";-- LTD:</p>
        <p class="ukgov-body" style="margin-bottom:0"><span style="font-weight:700; ">Name:</span> ; DROP TABLE "COMPANIES";-- LTD</p>
        <p class="ukgov-body" style="margin-bottom:0"><span style="font-weight:700">Registered address:</span> No 2 Lochrin Square, Edinburgh, EH3 9QA</p>
        <p class="ukgov-body"><span style="font-weight:700">Company number:</span> 10542519A</p>
        <div class="govuk-inset-text">
If you need a contract for services between you and the employer, this organisation must be the one named on the contract.
            </div>
        
        <form action="providerAgreedTraining" method="get" class="form">   
        <h2 class="govuk-heading-m">Have you agreed to provide apprenticeship training to ; DROP TABLE "COMPANIES";-- LTD?</h2>         
            <div class="govuk-form-group">
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="addApprentices-true" name="confirmEmployer" type="radio" value="true" {{ checked("addApprentices", "True") }}>
                        <label class="govuk-label govuk-radios__label" for="addApprentices-true">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="addApprentices-false" name="confirmEmployer" type="radio" value="false" {{ checked("addApprentices", "False") }}>
                        <label class="govuk-label govuk-radios__label" for="addApprentices-false">
                            No
                        </label>
                    </div>                  
                </div>                
            </div>
    
            <button class="govuk-button">Continue</button>
    
          </form>          
    </div>
</div>
</main>
</div>

{% endblock %}
