{% extends "layout.html" %} {% block beforeContent %} {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "find" }) }} {% endblock %} {% block content %}
<!--script>

$(document).on('click', 'input[type="radio"]', function (e) {
  if ($(e.target).attr('id') === 'radio-3' || $(e.target).attr('id') === 'radio-4' || $(e.target).attr('id') === 'radio-5') 
  { $('#other-organisation-options').removeClass('js-hidden') ; } 
       else {$('#other-organisation-options').addClass('js-hidden');};
});

</script-->
<!--script>
       // localStorage.setItem("nonLevy.whichApprenticeship", JSON.stringify("cooking"));
function whereNow() {
  var status = $('#input-keywords').val();

       switch (true) {
          case  (status == 'admin'):
            window.location.href = 'appresults';
            break;
        case  (status == 'catering'):
             window.location.href='appresults-cook';
            break
        case  (status == 'construction'):
             window.location.href='appresults-construct';
            break

        default:
             console.log('gyahhhhhhhh, bork bork bork')
            window.location.href='appresults';
            break;
        }
    }
 </script>

<script>
 $(".shortlist.app").click(function (e) {
        e.preventDefault();
        console.log("shortlist button clicked: " + appCount);


        if ($("i", this).hasClass("fa-star-o")) {
            console.log("isnt shortlisted");
            appCount = appCount + 1;
            console.log(appCount);
            Cookies.set("appCount", appCount);
            $("i", this).removeClass("fa-star-o").addClass("fa-star");
            $("span", this).text("Remove");
            $("#bannerSignedIn span").text(Number(proCount) + Number(appCount));

        } else {
            console.log("is shortlisted");
            $("i", this).removeClass("fa-star").addClass("fa-star-o");
            $("span", this).text("Shortlist");
            appCount--;
            Cookies.set("appCount", appCount);
            console.log(appCount);
            $("#bannerSignedIn span").text(Number(proCount) + Number(appCount));
        }
    })
</script-->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="appresults" method="get" class="form">
                    <h1 class="govuk-heading-xl" style="">Find apprenticeship training</h1>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-!-width-three-quarters bold-label" for="firstName">Search by keywords</label>
                                <span id="email-hint" class="govuk-hint">
                                            Can include job title or apprenticeship
                                </span>
                                <input class="govuk-input govuk-!-width-one-half" id="firstName" name="firstName" type="text" aria-describedby="First Name">
                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Search</button>
                </form>
            </div>
        </div>
    </main>
</div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script>
$("#appShortlistRemove").click(function(e) {
    $("#dialog-1").attr("aria-hidden", "false")
    //            e.preventDefault();
    //location.replace("appShortlistRemove.html");

})
</script>
{% endblock %}