{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/teamNav.html" %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to your team",
  href: "./"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-xl" style="" id="company-Name">Rob Edwards</h1>


 <div class="govuk-width-container">
      <div class="">
                      <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__header" scope="col"style="padding-top:0">Name</th>
                              <!--th scope="col" style="padding-top:0">Email address</th-->
                              <th class="govuk-table__header" scope="col" class="" style="padding-top:0; min-width:300px">What they can do</th>

                               <th class="govuk-table__header" scope="col"" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="govuk-table__row">
                              <!--quick hack, will fix -->
                              <td class="govuk-table__cell "d >rob@acme.com </td>
                              <td class="govuk-table__cell ">Accept agreements, view information and manage PAYE schemes, organisations, apprentices and team members</td>
                              <!--td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td>
                              <td class="align-center-columns"><i class="fa fa-check fa-2x"></i></td-->
                              <td class="govuk-table__cell "><a href="change-role">Change</a></td>
                            </tr>


                          </tbody>
                      </table>
                       <button type="submit" class="govuk-button" style="">Remove team member</button>
             </div>

    </div>
</div>
    </div>
</div>

{% endblock %}