{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/homeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back to apprentices",
  href: "../"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">
            Search for a training provider
        </h1>
        <p>Add a new training provider using a UK Provider Reference Number</p>
        <form action="confirmTP" method="get" class="form">            
            <div class="govuk-form-group">
                <label class="govuk-label  bold-label" for="uk-provider-reference-number">
                    UK Provider Reference Number
                </label>                    
                <input class="govuk-input govuk-!-width-one-half" id="uk-provider-reference-number" name="uk-provider-reference-number" type="text" value="{{ data['uk-provider-reference-number'] }}"/>
            </div>
    
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    What is a UK Provider Reference Number
                    </span>
                </summary>
                <div class="govuk-details__text">
                    A UK Provider Reference Number (UKPRN) is a unique, 8-digit number that identifies a training provider. Your training provider can tell you their UKPRN.
                </div>
            </details>

            <button class="govuk-button">Continue</button>    
        </form>          
    </div>
</div>
</main>
</div>

{% endblock %}
