{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/homeNav.html" %}
{% endblock %} {% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        QA Ltd Added
      </h1>

    </div>
<!--     <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Cohort reference</th>
          <td class="govuk-table__cell">HDJ2123F</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Sent to</th>
          <td class="govuk-table__cell">NCG</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">On behalf of</th>
          <td class="govuk-table__cell">Nice Employer</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Message</th>
          <td class="govuk-table__cell">{{ data["provider-message"] }}</td>
        </tr>
      </tbody>
    </table> -->
  </div>
<!-- <h2 class="govuk-heading-m">What happens next?</h2> -->
<p class="govuk-body" style="margin-top:35px">
    You can now do the thing.
</p>
<form action="addProviderFinished" method="get" class="form">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <label class="govuk-label  govuk-label--m" for="uk-provider-reference-number">
                    What's next
                </label>
            </legend>
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirmation-true" name="addProviderFinished" type="radio" value="QA Ltd" checked="true">
                    <label class="govuk-label govuk-radios__label" for="confirmation-true">
                        Change what this provider can do on your behalf
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirmation-false" name="addProviderFinished" type="radio" value="providers">
                    <label class="govuk-label govuk-radios__label" for="confirmation-false">
                        View my providers
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="confirmation-false" name="addProviderFinished" type="radio" value="homepage">
                    <label class="govuk-label govuk-radios__label" for="confirmation-false">
                        Return to homepage
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <button class="govuk-button">Continue</button>
</form>
</div>
</main>
</div>

{% endblock %}