{% extends "layout.html" %} {% block beforeContent %} {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/apprenticesNav.html" %} {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back to apprentices", href: "../" }) }} {% endblock %} {% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">

             <div class="govuk-grid-column-two-thirds">
        <form method="get" action="oneOrBulkQuestion">
            <h1 class="govuk-heading-xl">How are you adding apprentices</h1>
      <!--       <p class="govuk-body-l">Do you want to use a saved apprenticeship?</p> -->

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                       Choose a way to add apprentices
                      </h1>
                    </legend>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="app-1" name="oneOrBulk" type="radio" value="one">
                        <label class="govuk-label govuk-radios__label" for="app-1" style="padding-bottom:0" >
                          One at a time
                        </label>
           
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="app-2" name="oneOrBulk" type="radio" value="bulk" >
                        <label class="govuk-label govuk-radios__label" for="app-2" style="padding-bottom: 0" >
                          Bulk upload                        </label>

                      </div>
<!--                        <div class="govuk-radios__divider"><p style="padding-left:10px; margin-bottom:10px">or</p></div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="app-4" name="acceptedRecruit" type="radio" value="someoneElse">
                        <label class="govuk-label govuk-radios__label" for="app-4">
                          Someone else
                        </label>
                      </div> -->
                  </fieldset>
                </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
</div>
</main>


{% endblock %}