
{% extends "layout.html" %}

{% block pageTitle %}
Prototype | Add & Manage
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Research scenarios
      </h1>{{releaseVersion | log }}

      <ol class="govuk-list govuk-list--number">
        <li><a href="#">Link #1</a></li>
        <li><a href="#">Link #2</a></li>
        <li><a href="#">Link #3</a></li>
        <li><a href="#">Link #4</a></li>
        <li><a href="#">Link #5</a></li>
      </ol>

      <h2 class="govuk-heading-m">Linkies</h2>
      <p><a href="/version-1/manage-apprenticeships/start-page">Version 1 Start</a></p>
   <p><a href="/version-1/home">Version 1 Home</a></p>
   <p><a href="/version-1/provider">Version 1 provider</a></p>
    <p><a href="/version-2/home">Version 2 Home</a></p>

   <p><a href="/version-2/unlogged">Version 2 not logged in</a></p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
