
{% extends "ma-layout.html" %}

{% block pageTitle %}
Prototype | Add and maintain apprentice details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Research scenarios
      </h1>{{releaseVersion | log }}

      <ol class="govuk-list govuk-list--number">
        <li><a href="/version-1/manage-apprenticeships/start-page">Version 1 Start</a></li>
        <li><a href="/version-1/home">Version 1 Home</a></li>     
        <li><a href="/version-1/provider">Version 1 Provider</a></li>
        <li><a href="/version-2/home">Version 2 Home</a></li>
        <li><a href="/version-2/unlogged">Version 2 not logged in</a></li>
      </ol>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
