{% extends "layout.html" %}
{% block beforeContent %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "searchOrgResults"
}) }}
{% endblock %}

{% block content %}

<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
*/
</script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="govtgateway" method="get" class="form">
     <h1 class="govuk-heading-xl" style="">
Allowing your tax details to be used
        </h1>
        <p>When you enter your Government Gateway details you'll be asked to 'grant authority' to allow your tax details to be used.</p>
        <p>If you pay the apprenticeship levy, this means you allow HMRC to send the Education and Skills Funding Agency details of the levy that you've paid, so that the correct apprenticeship funds can be seen in your account.</p>
              <h2 class="govuk-heading-m">By continuing you agree to the following:</h2>
        <div class="govuk-details__text">
          <p>I have authority to add PAYE schemes to this account.</p>
          <p>I understand that all account users will be able to see funds from any PAYE schemes I add.</p>
          <p>I'll only add PAYE schemes that are used by my organisation or used by a <a href="">connected organisation.</a></p>
  </div>
        <div class="govuk-form-group" style="margin-top:35px">
        <button class="govuk-button">Agree and continue</button>
      </form>

    </div>
  </div>
{% endblock %}