{% extends "layout.html" %}


{% block content %}

<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
*/
</script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-heading-l" style="color:#fff; margin-bottom:5px">
            We've sent you an email
          </h1>
          <div class="govuk-body" style="color:#fff">
            To confirm your identity, we've sent a code to test@test.com
          </div>
        </div>


      <form action="signinRegJourney" method="get" class="form">
     <h1 class="govuk-heading-xl" style="margin-top:1.25em; margin-bottom:0.625em">
Confirm your identity
        </h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-three-quarters bold-label" for="firstName">
                 Enter code
              </label>
              <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
              <input class="govuk-input govuk-!-width-three-quarters" id="firstName" name="firstName" type="text" aria-describedby="First Name">
          </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>
    <h3 class="govuk-heading-s">Not received an email? </h3>
    <a href="#">You can request another email</a>
    </div>

  </div>
{% endblock %}