{% extends "layout.html" %}


{% block beforeContent %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "start-page"
}) }}
{% endblock %}

{% block content %}

<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
*/
</script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="../manage-apprenticeships/signin" method="get" class="form">

        <h1 class="govuk-heading-xl" style="margin-bottom:30px">
          Have you used this service before?
        </h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <!--h2 class="govuk-fieldset__heading">
              
            </h2-->
          </legend>

          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="usedService-1" name="usedService" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="usedService-1">
                Yes, I've used this service before
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="usedService-2" name="usedService" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="usedService-2">
                No, this is my first time
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>
    </div>
  </div>
{% endblock %}
